input[type="text"]{
    background-color: rgb(67, 142, 255) !important;
    color:white !important;
    width: 350%;
    height: 30px;
    border-radius: 5%;
    border: none;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 1%;
}

input[type="number"]{
    background-color: rgb(67,142,255) !important;
    color:white !important;
    width: 350%;
    height: 30px;
    border-radius: 5%;
    border: none;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 1%;
}

.form-horizontal{
    left: 20px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #4044ED !important;
  border-color: #4044ED !important;
}
.btn-primary:hover{
  background-color: #4142aa !important;
  border-color: #4142aa !important;
}
