.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(+100%, -50%);
    color: rgb(234, 234, 249);
}   

.background_container{
    display: inline-block;
    position: relative;
    height: 100%;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background{
    background-color: rgb(5, 13, 26);
}
table,tr,td,th{
    border: none !important;
    padding:50px;
}

.heading {
    position: relative;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
    position: relative;
    background-color: blue;
    padding: 500px 10px;
    border: none;
    border-radius: 5%;
    text-align: center;
}

.button a{
    color: rgb(234, 234, 249);
}