{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link href="{% static 'ksheer/login1.css' %}" rel="stylesheet">
    </head>
    <body style="background-image: url('/static/ksheer/background.jpg'); background-size: cover;">
        <h1>{{name}}</h1>
        <table>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
            <colgroup>
                <col span="1" class="col1">
                <col class="col2">
            </colgroup>
                <tr>
                    <td><a href="{% url 'ret_bills' %}" >View Bills</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'cust_details' %}">Add Bill</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'ret_order' %}">Order</a></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Logout" style="margin-right:20px;" class='btn btn-primary' >
                    </td>
                </tr>
                </form>          
        </table>
        
        
    </body>
</html>