{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link href="{% static 'ksheer/login1.css' %}" rel="stylesheet">
    </head>
    <body style="background-image: url('/static/ksheer/background.jpg'); background-size: cover;">
        <h1>Executive Login</h1>
        <table>
            <colgroup>
                <col span="1" class="col1">
                <col class="col2">
            </colgroup>
                <tr>
                    <td><a href="{% url 'add_prod' %}" >Add Product</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'exec_ware' %}">Edit Product</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'exec_ret' %}">Delete Product</a></td>
                </tr> 
                <tr><td colspan="2" style="text-align: center;">
                    <div>
                        <button type="button" onclick="history.back()">Back</button>
                    </div>

                    </td>
                </tr>            
        </table>
        
        
    </body>
</html>